[submodule "triton/triton-lang"]
	path = triton/triton-lang
	url = git@github.com:Dando18/laqs-triton.git
	shallow = true
[submodule "triton/tritonbench"]
	path = triton/tritonbench
	url = https://github.com/meta-pytorch/tritonbench.git
	shallow = true
